<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53441648313-b5pl62sk5p5pjmo1tu8kbslv380o4414.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53441648313-b5pl62sk5p5pjmo1tu8kbslv380o4414</string>
	<key>API_KEY</key>
	<string>AIzaSyBoDBPPwviXRjkELs20MXXT7OBNbAvCgxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>53441648313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toonlab.watcha</string>
	<key>PROJECT_ID</key>
	<string>watcha-cc699</string>
	<key>STORAGE_BUCKET</key>
	<string>watcha-cc699.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53441648313:ios:6c039060aac3e20f32ad68</string>
	<key>DATABASE_URL</key>
	<string>https://watcha-cc699.firebaseio.com</string>
</dict>
</plist>